body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Rubik', serif;
}

p {
  color: #8b8b8bcc;
  font-family: 'Rubik';
  font-size: 15px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

li {
  display: inline;
  margin: 0 25px 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo > img {
  width: 50%;
  margin: 5px;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 5px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.main > * {
    font-family: 'Rubik';
}

.publish {
  margin-left: 30px;
}

.publish h3 {
  font-family: 'Fira Sans';
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form label {
  color: #025157;
  font-family: 'Fira Sans';
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 30px;
  margin-top: 10px;
}

.features {
  height: auto;
  background-color: #025157;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  padding: 5% 5%;
}

.features .featureCard {
  border-radius: 25px;
  margin: 15px 1em;
  background-color: white;
  padding: 5%;
}

.featureCard {
  text-align: left;
  display: flex;
}

.featureCard h2{
  text-align: left;
  display: flex;
  color: #343434;
  font-size: 25px;
  font-family: 'Fira Sans';
}

.featureCard p{
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
  font-family: 'Fira Sans';
}

.featureCard img {
  width: 50px;
  margin-left: 50px;
}

.featureCard article a {
  color: #67b54b;
  font-size: 20px;
}

.featureImg{
  margin-top: 0;
  height: 100%;
}

@media (max-width: 575px) {
  .navbar,
  .actions{
    display: none;
  }

  h1{
    font-size: 30px;
  }

  .main{
    margin-top: 110px;
  }

  .banner > img{
    width: 100%;
  }

  .publish > form{
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }
  .explanatory-video > video{
    width: 100%;
  }

  .publish{
    margin-top: 10px;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features{
    display: block;
  }
}

@media (min-width:576px) and (max-width: 767px) {
  .banner > img{
    width: 100%;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  
}

@media (min-width:992px) and (max-width: 767px) {
  
}